@using Avantage7Questions.Models.View_Models
@model IndexVM

<div class="text-center">
    <form enctype="multipart/form-data" method="post" class="max-w-sm mx-auto">
        <input asp-for="@Model.Question.Id" hidden />
        <div class="">
            <div class="block max-w-sm p-6 bg-gray-50 dark:bg-gray-900 border border-gray-200 rounded-lg shadow dark:border-gray-700 mt-5 mb-3">
                <label class="block mb-2 text-xl dark:text-white font-normal">Якщо ви бажаєте отримати або замінити певне комп'ютерне обладнання, будь ласка заповніть наступну форму</label>
            </div>
        </div>
        <br>
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Введіть ім'я:</label>
            <input asp-for="@Model.Question.Name" type="text" placeholder="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="@Model.Question.Name" class=" font-medium mt-2 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Введіть прізвище:</label>
            <input asp-for="@Model.Question.LastName" type="text" placeholder="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="@Model.Question.LastName" class=" font-medium mt-2 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div class="mb-5">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Введіть мобільний телефон:</label>
            <input asp-for="@Model.Question.PhoneNumber" type="tel" id="phone" placeholder="+38(0__)___-__-__" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <span asp-validation-for="@Model.Question.PhoneNumber" class=" font-medium mt-2 text-sm text-red-600 dark:text-red-500"></span>
        </div>
        <div>
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Оберіть потрібну техніку:</label>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
            <div class="flex items-center mb-4">
                <input asp-for="@Model.Question.Items.Computer" type="checkbox" value="Комп'ютер" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label asp-for="@Model.Question.Items.Computer" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Комп'ютер</label>
                <span asp-validation-for="@Model.Question.Items.Computer"></span>
            </div>
            <div class="flex items-center mb-4">
                <input asp-for="@Model.Question.Items.Laptop" type="checkbox" value="Ноутбук" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label asp-for="@Model.Question.Items.Laptop" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Ноутбук</label>
                <span asp-validation-for="@Model.Question.Items.Laptop"></span>
            </div>
            <div class="flex items-center mb-4">
                <input asp-for="@Model.Question.Items.Mouse" type="checkbox" value="Мишка" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label asp-for="@Model.Question.Items.Mouse" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Мишка</label>
                <span asp-validation-for="@Model.Question.Items.Mouse"></span>
            </div>
            <div class="flex items-center mb-4">
                <input asp-for="@Model.Question.Items.Keyboard" type="checkbox" value="Клавіатура" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label asp-for="@Model.Question.Items.Keyboard" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Клавіатура</label>
                <span asp-validation-for="@Model.Question.Items.Keyboard"></span>
            </div>
            <div class="flex items-center mb-4">
                <input asp-for="@Model.Question.Items.Monitor" type="checkbox" value="Монітор" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label asp-for="@Model.Question.Items.Monitor" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Монітор</label>
                <span asp-validation-for="@Model.Question.Items.Monitor"></span>
            </div>
            <div class="flex items-center mb-4">
                <input asp-for="@Model.Question.Items.Phone" type="checkbox" value="Телефон" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label asp-for="@Model.Question.Items.Phone" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Телефон</label>
                <span asp-validation-for="@Model.Question.Items.Phone"></span>
            </div>
            <div class="flex items-center mb-4">
                <input id="myCheckbox" asp-for="@Model.Question.Items.Another" type="checkbox" value="true" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                <label for="myCheckbox" asp-for="@Model.Question.Items.Another" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Інше</label>
                <span asp-validation-for="@Model.Question.Items.Another"></span>
            </div>
        </div>
        <div id="inputFieldContainer" class="flex items-center mb-4">
            <input asp-for="@Model.Question.Items.AnotherText" type="text" placeholder="Введіть ваш запит" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            <span asp-validation-for="@Model.Question.Items.AnotherText"></span>
        </div>
        <div class="items-center mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Додаткова інформація:</label>
            <textarea asp-for="@Model.Question.Data" id="message" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-2" placeholder="Залиште коментар"></textarea>
        </div>
        <div class="items-center mb-4">
            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Завантажте фото підтвердження від керівника (важливо):</label>
            <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" accept="image/*" type="file" name="files" multiple>
        </div>
        <div class="" style="">
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Відправити</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        var maskOptions = {
            mask: '+{38}({\\0}00)000-00-00',

        };
        var mask = IMask(document.getElementById('phone'), maskOptions);


        document.getElementById('myCheckbox').addEventListener('change', function () {
            var container = document.getElementById('inputFieldContainer');
            if (this.checked) {
                container.style.display = 'block';
            } else {
                container.style.display = 'none';
            }
        });
    </script>
}