@model List<Question>

@foreach (Question question in Model)
{
    <div class="mx-auto text-center ">
        <div class="overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-50 items-center w-full md:inset-0 h-modal md:h-full">
            <div class="p-4 pb-2 mx-auto max-w-xl">
                <div class="relative p-2 bg-white rounded-lg shadow dark:bg-gray-800">
                    <div class="flex flex-col md:flex-row justify-between m-2 rounded-t">
                        <div class="order-last md:order-first text-lg text-gray-900 md:text-xl dark:text-white text-center">
                            <h3 class="font-semibold ">
                                @question.Name @question.LastName
                            </h3>
                            <p class="font-bold">
                                @question.PhoneNumber
                            </p>
                        </div>
                        <div class="order-first md:order-last text-center md:text-right mt-2 md:mt-0">
                            <label style="background-color: @question.StatusBackgroundColor" class="text-white inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-1">@question.CurrentStatus</label>
                        </div>
                    </div>
                    <dl class="mt-5">
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Замовлення</dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">@question.ItemsString</dd>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Додаткова інформація</dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">@question.Data</dd>
                        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Дата подачі заявки</dt>
                        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">@question.CreateQuestionDate</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
}
